@import "../../mixins.scss";

.details{
    margin-top: 64px;
    h2{
        font-size:64px;
        font-weight: 200;
        margin-top:32px;
        position: relative;
        @media (max-width: 768px){
            font-size:32px;
         }
        margin-inline:auto;
    }
    &__wrapper{
        padding-top:32px;
        display: flex;
        flex-direction: column;
        gap:16px;
        align-items: flex-start;
    }
    &__container{
        width:100%;
        display:flex;
        // grid-template-columns: 1fr 1fr;
        gap:128px;
        img{
            width:45%;
            border-radius: 32px;
            object-fit: cover;
        }
        @media (max-width: 768px){
            flex-direction: column;
            align-items: center;
            gap:32px;
            img{
                width:90%;
            }
        }
    }
    &__text{
        width:50%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        gap:16px;
        @media (max-width: 768px){
            width:90%;
        }
        h1{
            font-size:64px;
            position: relative;
            @media (max-width: 768px){
                font-size:32px;
             }
            &::before{
                @include accentLine();
            }
        }
        p{
            font-size:24px;
            @media (max-width: 768px){
                font-size:16px;
             }
        }
        .btn{
            align-self: flex-end;
            margin-top:32px;
            @media (max-width: 768px){
               align-self: center;
            }
        }
        
    }
    &__back{
        margin-top:8px;
        display: flex;
        gap:8px;
        align-items: center;
        cursor: pointer;
        user-select: none;
        font-size:16px;
    }
    &__tags{
        display: flex;
        gap:16px;
        flex-wrap: wrap;
        
        span{
            cursor: pointer;
            font-size:16px;
            padding:8px 12px;
            background:var(--background-100);
            color:var(--text-color);
            order:2px solid var(--text-color);
            border-radius: 4px;

            transition: all .3s ease-in-out;
            &:hover{
                color:var(--accent-color);
                border-color: var(--accent-color);
                @media ( min-width: 768px){
                    scale:1.02;
                }
               
            }
            user-select: none;
            position: relative;
            overflow: hidden;
            &:before{
                @include noiseOverlay();
            }
        }
    }
    &__gallery{
        width:100%;
        display: flex;
        flex-wrap: wrap;
        gap:16px;
        position: relative;
        display: grid;
        grid-template-columns: 1fr 1fr;
        @media (max-width: 768px){
            grid-template-columns: 1fr;
        }
        img{
            width:100%;
            aspect-ratio: 16/9;
            object-fit: cover;
            transition: transform .3s ease-in-out;
            &:hover{
                transform: scale(1.02);
            }
        }
    }
}